<div class="page-content">
  <h1 class="green"><%= @year.year_number %></h1>
  <h3><%= link_to "Edit", edit_year_path(@year), class: "green" %></h3>
  <h3><%= link_to "Back to home", root_path, class: "green" %></h3>
</div>
